* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: sans-serif;
}

.btn {
    display: inline-block;
    border-radius: 999px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 57px;
    width: 173px;
}

.btn:hover {
    background: #fff;
    color: #143c3c;
    transition: 0.3s;
}

.container {
    width: 1140px;
    max-width: calc(100% - 50px);
    margin: auto;
}

.header-top {
    display: flex;
    padding-top: 28px;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    padding: 10px 19px;
    position: relative;
}

.action {
    margin-left: 69px;
}

.navbar__link--active {
    color: #152427;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
}

.navbar__link:hover {
    text-shadow: 3px 2px 1px #ccc;
}

.navbar__link--active::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #143c3c;
    position: absolute;
    left: 20px;
    top: 39px;
}

.hero {
    display: flex;
    margin-top: 74px;
    align-items: center;
}

.hero-content {
    width: 393px;
}

.hero__heading {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 50px;
    font-weight: 800;
    width: 368px;
    margin-bottom: 20px;
}

.hero__desc {
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 42px;
    width: 341px;
}

.hero-row {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-row__btn {
    margin-right: 36px;
}

.hero-row__sub {
    position: absolute;
    left: 202px;
}

.hero-row__label {
    color: #152427;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.hero-row-action {
    display: flex;
    align-items: center;
}

.hero-media {
    display: flex;
    width: 646px;
    height: 543px;
    column-gap: 20px;
    margin-left: auto;
    position: relative;
}

.hero-media__image {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero-media__image:nth-of-type(2) {
    margin-top: 77px;
}

.hero-media__deco {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 122px;
    left: 156px;
    z-index: -1;
}

.hero-media__vector1 {
    position: absolute;
    left: -172px;
}

.hero-media__subv1 {
    position: absolute;
    left: -218.58px;
    top: 1px;
}

.hero-media__vector2 {
    position: absolute;
    left: 31px;
    bottom: -87.69px;
}

.hero-media__subv2 {
    position: absolute;
    bottom: -66px;
    right: 1px;
}

.brand {
    margin-top: 130px;
    margin-bottom: 106px;
}

.brand-body {
    display: flex;
    align-items: center;
    height: 201px;
    border-radius: 100.5px;
    background: var(--Scondery-color-light-green, #e2eddf);
    justify-content: space-between;
    padding: 0 121px;
}

.service-sub {
    position: relative;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin-left: 46px;
}

.service-sub::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    left: -36px;
    bottom: 12px;
}

.service-row__sub-heading {
    position: relative;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    margin-top: 12px;
    width: 520px;
}

.service-row__sub-heading::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
    bottom: 17px;
    right: 96px;
}

.service-row {
    display: flex;
}

.service-row__control {
    display: flex;
    column-gap: 17px;
    margin-left: auto;
    align-items: flex-end;
    margin-bottom: 9px;
}

.service-row__control--vector {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: var(--Scondery-color-light-green, #e2eddf);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-row__control--vector:hover {
    color: #fff;
    background-color: #143c3c;
    transition: 0.3s;
    cursor: pointer;
}

.service-media__image {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.service-media__sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 18px;
}

.service-media__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    width: 268px;
}

.service-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-media-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(255, 0, 0, 0.25);
    border-radius: 20px;
    transition: 0.3s;
}

.service-media-row {
    padding: 0 18px 23px;
}

.about-us {
    margin-top: 149px;
}

.about-us-body {
    display: flex;
    justify-content: space-between;
}

.about-us-media__image {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about-us-media__image:first-child {
    margin-top: 77px;
}

.about-us-media {
    position: relative;
    display: flex;
    column-gap: 21px;
    height: 557px;
    width: 591px;
}

.about-us-media__deco {
    position: absolute;
    left: 71px;
}

.about-us-media__sub-deco {
    position: absolute;
    left: 26px;
    top: 2px;
}

.about-us-media-sub-content-info__sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.about-us-media-sub-content-info-row-img__avt {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    object-fit: cover;
    margin-left: -10px;
}

.about-us-media-sub-content-info__desc {
    color: var(--text-color-black-gray, #575d5e);
    font-family: "Public Sans";
    font-size: 10px;
    margin-bottom: 10px;
}

.about-us-media-sub-content-info__value {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 3px;
}

.about-us-media-sub-content-info__hr {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-us-media-sub-content-info__hr1 {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-us-media-sub-content-sub {
    display: block;
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 500;
    margin-left: 52px;
    margin-top: 3px;
    width: 42px;
    margin-bottom: 3px;
}

.about-us-media-sub-content {
    position: absolute;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    bottom: 8px;
    right: -9px;
}

.about-us-media-sub-content-info {
    padding: 19px 17px 11px;
}

.about-us-media-sub-content-info-row__value {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 500;
    margin-left: -2px;
}

.about-us-media-sub-content-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-media-sub-content-info-row-img__avt:first-child {
    margin-left: -56px;
}

.about-us-content {
    width: 485px;
}

.about-us-content__info {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 16px;
    margin-left: 46px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
}

.about-us-content__info::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    top: 10px;
}

.about-us-content__sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 11px;
}

.about-us-content__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 36px;
}

.about-us-content-row__value {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    margin-right: 24px;
}

.about-us-content-row__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}

.about-us-content-row__hr {
    width: 485px;
    height: 1px;
    background: #83a17d;
    margin-bottom: 38px;
}

.about-us-content-row {
    display: flex;
}

.our-process {
    margin-top: 115px;
}

.our-process__desc {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin-left: 53px;
    position: relative;
    margin-bottom: 20px;
}

.our-process__desc::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    top: 5px;
    left: -36px;
}

.our-process__sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 477px;
    position: relative;
    margin-bottom: 81px;
}

.our-process__sub-heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
    bottom: 18px;
    right: -14px;
}

.our-process-row1 {
    position: relative;
    display: flex;
    padding: 57px 30px 50px;
    height: 185px;
    border-radius: 33px;
    background: var(--Scondery-color-light-green, #e2eddf);
}

.our-process-row1__value {
    color: var(--Primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 72px;
    font-weight: 600;
    margin-right: 64px;
}

.our-process-row1__sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;
    margin-top: 15px;
}

.our-process-row1__more {
    color: var(--text-color-black-gray, #575d5e);
    font-family: Poppins;
    font-size: 18px;
    text-decoration: underline;
}

.our-process-row1__image {
    position: absolute;
    right: 92px;
    bottom: 0;
}

.our-process-row2 {
    display: flex;
    padding: 46px 30px 21px;
}

.our-process-row2__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    width: 572px;
    line-height: 28px;
    margin-left: auto;
}

.our-process__hr {
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.more-info {
    height: 899px;
    background: var(--Primary-color-black-green, #143c3c);
    margin-top: 148px;
}

.more-info__sub-heading {
    color: #e7f9f9;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 457px;
}

.more-info-body {
    display: flex;
    padding-top: 127px;
}

.more-info__desc {
    width: 570px;
    color: var(--Scondery-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 13px;
}

.more-info-row {
    width: 590px;
    margin-left: auto;
}

.more-info__link {
    color: #fff;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    margin-right: 26px;
}

.more-info-detail {
    position: relative;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.more-info-detail__link {
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.more-info-detail__play {
    position: absolute;
}

.more-info-detail__deco {
    position: absolute;
    bottom: 240px;
    right: -52px;
}

.more-info-detail__deco1 {
    position: absolute;
    right: -28px;
    top: -79px;
}

.feature {
    margin-top: 140px;
    margin-bottom: 184px;
}

.feature__sub-heading {
    color: var(--Primary-color-black, #152427);
    text-align: center;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 520px;
    margin: auto;
    margin-bottom: 29px;
}

.feature-desc {
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: auto;
    width: 547px;
}

.feature-item {
    transition: 0.3s;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
}

.feature-item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 33px 74px;
}

.feature-item__sub-heading {
    color: #152427;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 9px;
}

.feature-item__desc {
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.feature-row {
    margin-top: 103px;
    display: flex;
    column-gap: 45px;
    height: 421px;
}

.feature-item:hover {
    box-shadow: 0px 36px 100px 0px rgba(247, 86, 0, 0.2);
    border: #fff;
    transition: 0.3s;
    transform: translateY(-50px);
    cursor: pointer;
}

.blog__desc {
    position: relative;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin-left: 46px;
    margin-bottom: 10px;
}

.blog__desc::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    left: -35px;
    bottom: 7px;
}

.blog-row__sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 520px;
    position: relative;
}

.blog-row__sub-heading::after {
    content: "";
    display: inline;
    width: 82px;
    height: 3px;
    background: var(--Primary-color-black, #152427);
    position: absolute;
    bottom: 20px;
    right: -50px;
}

.blog-row {
    display: flex;
}

.blog-row-desc {
    width: 409px;
    margin-left: auto;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 29px;
}

.blog-item__image {
    width: 368px;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
}

.blog-item__tag {
    display: block;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 20px;
    width: 107px;
    background: var(--Scondery-color-light-green, #e2eddf);
    margin-top: 33px;
    margin-bottom: 13px;
}

.blog-item__desc {
    color: var(--Primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    width: 300px;
    margin-bottom: 38px;
}

.blog-item__hr {
    width: 337px;
    height: 1px;
    background: #c4c4c4;
    margin-bottom: 16px;
}

.blog-item__sub {
    color: var(--text-color-black-gray, #575d5e);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    width: 337px;
    justify-content: flex-end;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item {
    transition: 0.3s;
}

.blog-item:hover {
    border-radius: 40px 40px 20px 20px;
    background: var(--text-color-white, #fff);
    box-shadow: 0px 12px 74px 0px rgba(255, 0, 0, 0.25);
    transition: 0.3s;
}

.blog-item-body {
    padding: 0 10px 12px 20px;
}

.blog {
    margin-bottom: 102px;
}

.footer {
    height: 399px;
    background: var(--Primary-color-black-green, #143c3c);
}

.footer__sub-heading {
    color: var(--text-color-white, #fff);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    padding-top: 72px;
    margin-bottom: 25px;
}

#email {
    color: var(--Scondery-color-gray, #6a8383);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    outline: none;
    background: transparent;
    border: none;
}

.footer__hr {
    width: 354px;
    height: 1px;
    background: var(--Scondery-color-gray, #6a8383);
    margin-top: 36px;
}

.footer-social {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer-social__icon {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.footer-social__icon:hover {
    background: #a75325;
    border: transparent;
    transition: 0.3s;
}

.footer-list {
    display: flex;
}

.footer-content {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    margin-left: auto;
}

.footer-content__sub-heading {
    color: var(--text-color-white, #fff);
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 18px;
}

.footer-content__link {
    color: var(--Scondery-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer-content-list li {
    margin-bottom: 20px;
}

.footer-content-list li:hover a {
    text-decoration: underline;
}

.footer-end__hr {
    margin-top: 46px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
